* {
  margin: 0;
  padding: 0;
  
}

.sidebar {
  height: 100%;
  width: 220px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #a76147;
  padding-top: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 10px 15px;
  color: #fff;
  cursor: pointer;
}

.sidebar li:hover {
  background-color:#c3846f;
}

.sidebar a {
  text-decoration: none;
  color: inherit;
}

.main-content {
  margin-left: 220px; 
  padding: 20px;
  
}


h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}


input[type="text"],
input[type="date"] {
  width: 97%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.previous ul {
  list-style-type: none;
  padding: 0;
}

.previous ul li {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.completed {
  color: green;
}

.pending {
  color: red;
}

.completed,
.pending {
  font-weight: bold;
}

@media (max-width: 600px) {
  .sidebar {
    width: 100%;
    position: static;
    padding-top: 0;
  }

  .main-content {
    margin-left: 0;
    padding: 20px 10px;
  }

  form {
    max-width: 90%;
    padding: 15px;
  }

  input[type="text"],
  input[type="date"] {
    width: 100%;
  }
}